.screen-wrapper {
	width: 400px;
	height: 280px;
	display: flex;
	flex-direction: column;
}

.screen-container__image {
	background-color: #ccc;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	flex: 1;
}

.screen-wrapper__title {
	text-align: center;
	padding-top: 5px;
}
