.nav-menu__item {
	list-style-type: none;
}

.nav-menu__project-wrapper {

}

.nav-menu__project-link {
	color: #303133;
	text-decoration: none;
    user-select: none;
}

.nav-menu__project-caret {
	height: 16px;
	margin: 5px;
	padding: 5px;
	width: 20px;
}

.nav-menu__screens-wrapper {
	list-style-type: none;
}

.nav-menu__screen {
	color: #303133;
}
