$white: white;

.comment-section {
	background-image: url(/images/landing_page/comment-background.jpg);
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.comment-section--overlay {
	background: rgba(0, 0, 0, 0.5);;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 200vh;
	width: 100%;
	z-index: 1;
}

.comment-section__wrapper {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
	justify-content: center;
	padding: 70px 100px 0 100px;
	width: calc(100% - 200px);
}

.comment-section__header {
	color: $white;
    font-size: 50px;
    font-weight: 300;
    z-index: 2;
}

.comment-section__divider {
    background: $white;
	height: 2px;
    width: 25vw;
    z-index: 2;
}

.comment-section__text {
	color: $white;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    width: 40vw;
	z-index: 2;
}
