.project-tile__wrapper {
	text-decoration: none;
}

.project-tile {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: pointer;
	flex: 1 1 300px;
	height: 250px;
	margin: 10px 5px;
	min-width: 300px;
	max-width: 300px;
}

.project-tile__overlay {
	animation-name: fadeIn;
	animation-duration: 0.5s;
    animation-fill-mode: both;
	background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7), black);
    height: calc(100% - 100px);
    padding: 50px 30px;
    width: calc(100% - 60px);
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.project-tile--hidden {
	display: none;
}

.project-tile__name {
    margin: 0px;
}

.project-tile__description {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}
